body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0;
  margin: 0;
  background-color: #111;
}

:root {
  --separate-px: 25px;
}

.content {
  color: #eee;
}
.content .content-title {
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 10px;
}
.content .content-body {
  background-color: #222;
  padding: 20px;
  border-radius: 3px;
}

.navbar {
  min-height: 65px;
  background-color: #333;
  color: #eee;
  padding: 20px 35px;
}
.navbar .title {
  margin-top: 10px;
  float: left;
  font-size: 20pt;
}
.navbar .menu {
  float: right;
}
.navbar .menu ul {
  list-style-type: none;
  display: flex;
}
.navbar .menu ul li {
  margin-right: 10px;
}

.scroll-spy {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  color: #ddd;
}
.scroll-spy ul {
  list-style-type: none;
  margin-bottom: 15px;
}
.scroll-spy ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.scroll-spy ul li span {
  text-align: center;
  padding: 10px 25px;
  background-color: #555;
  transition: 200ms background-color ease-in;
}
.scroll-spy ul li span:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.scroll-spy ul li span:last-child {
  border-end-end-radius: 3px;
  border-end-start-radius: 3px;
}
.scroll-spy ul li span:hover, .scroll-spy ul li span.active {
  background-color: #444;
}

[data-route] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.main {
  display: flex;
}
.main [left] {
  width: 17%;
  margin-top: 30px;
  margin-right: 30px;
}
.main [right] {
  width: 83%;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 20px;
  padding: 0 0px;
}

.dropdown {
  position: relative;
}
.dropdown * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dropdown .dropdown-title {
  cursor: pointer;
  background-color: rgba(119, 119, 119, 0.3137254902);
  padding: 10px 25px;
  border-radius: 3px;
}
.dropdown .dropdown-list {
  position: absolute;
  top: 110%;
  width: 100%;
  padding: 5px 8px;
  border-radius: 3px;
  background-color: #555;
  display: none;
}
.dropdown .dropdown-list .dropdown-item {
  font-size: 10pt;
  padding: 10px;
  border-radius: 3px;
  background-color: #444;
}
.dropdown .dropdown-list .dropdown-item:hover, .dropdown .dropdown-list .dropdown-item.active {
  background-color: #333;
}
.dropdown .dropdown-list .dropdown-item:not(:last-child) {
  margin-bottom: 5px;
}
.dropdown.show .dropdown-list {
  display: block;
}
.dropdown.show .dropdown-title,
.dropdown .dropdown-title:hover {
  background-color: #555;
}

.text-center {
  text-align: center;
}

.separate {
  margin-bottom: var(--separate-px);
}

font[color=red] {
  margin-right: 5px;
}

kbd,
.btn {
  cursor: pointer;
  color: #ff6776;
  background-color: #333;
  padding: 2px 7px;
  border: unset;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
kbd:hover,
.btn:hover {
  background-color: #444;
}

a {
  text-decoration: none;
  color: #fff;
}

:focus-visible {
  outline: none;
}/*# sourceMappingURL=style.css.map */